{% extends "base.html" %}

{% block content %}
  {{ super() }}
  {% if page and not page.is_homepage and page.url != "suggest-a-change/" %}
    <aside class="suggest-change">
      <strong>Something wrong or missing?</strong>
      Use <code>/wiki-suggest</code> in the <a href="https://discord.gg/dQrpnsb2r9">Discord</a>, or
      <a href="{{ config.repo_url }}/issues/new?template=wiki-change.yml&amp;title={{ ('[' ~ page.title ~ '] ') | urlencode }}&amp;page={{ page.title | urlencode }}">suggest it on GitHub</a>.
    </aside>
  {% endif %}
{% endblock %}
